@font-face {
  font-family: "DejaVu Sans";
  src: url("../fonts/DejaVuSans.ttf");
}
* {
  padding: 0px;
  margin: 0px;
}
:root{
    --sd-food-primary-color: #ff3922;
}
.foods {
  width: 100%;
  background-color: #ffead5;
  padding: 70px 20px;
}
.sd-food-section-heading {
    margin-bottom: 25px;
}

.bg-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.foods .section-heading .title {
  font-size: 50px;
  line-height: 55px;
  color: #000;
  font-weight: 400;
  font-family: "DejaVu Sans";
  margin-bottom: 30px;
}

.foods .content {
  margin-top: 20px;
}
.foods .content h3 {
  font-family: "DejaVu Sans";
  color: var(--sd-food-primary-color);
  font-size: 40px;
  line-height: 45px;
}
.foods .content h3 a{
    color: var(--sd-food-primary-color);
}
.foods .content p {
  font-family: "DejaVu Sans";
  color: #2b2e34;
  font-size: 30px;
  font-weight: 500;
  text-align: left;
}

.foods .food-image img {
  width: 100%;
}
.foods .content h3 a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}
.foods .content{
    width: 100%;
}
.single-menu .food-image {
    display: flex;
    justify-content: flex-end;
}

.single-menu .food-image img {
    max-width: 300px;
}

.single-menu {
    margin-bottom: 3em;
}

.title-price-wrapper {
    display: flex;
    align-items: center;
}

.foods .content h3 a .title {
/*     width: 93%; */
    position: relative;
    z-index: 1;
}

/* .foods .content h3 a .title:after {
    position: absolute;
    content: '';
    height: 2px;
    background-image: repeating-linear-gradient(90deg, transparent, transparent 6px, var(--sd-food-primary-color) 6px, var(--sd-food-primary-color) 8px);
    width:  100%;
    right: 0;
    bottom: 8px;
    z-index: -1;
} */

@media screen and (max-width: 1024px) {
  .foods .section-heading {
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 25px;
  }
  .foods .content h3 {
    font-size: 28px;
    line-height: 30px;
  }

  .foods .content p {
    font-size: 22px;
  }
}
@media screen and (max-width: 768px) {
  .foods .section-heading {
    font-size: 36px;
    line-height: 45px;
  }
  .foods .content h3 {
    font-size: 24px;
    line-height: 30px;
  }
  .foods .content p {
    font-size: 18px;
  }
	.single-menu .food-image {
    justify-content: center;
}
	.foods .content h3 a .title:after {
    bottom:5px;
}
}

@media screen and (max-width: 425px) {
  .foods {
    padding: 50px 20px;
  }
  .foods .section-heading {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 10px;
  }
  .foods .content h3 {
    font-size: 24px;
  }
  .foods .content p {
    font-size: 18px;
  }
  .foods .food-image {
    margin-bottom: 15px;
  }
}
